HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/main/resources/chimeracoffee.top.jks
src/main/resources/jks-password.txt

### Dev ###
log/*
.m2/*
.local-mongo/*
.local-static/*
.tmp/*

### Dev Scripts Runtime ###
dev-scripts/.local-mongo/
dev-scripts/.local-static/
dev-scripts/*.log
dev-scripts/*.bak
dev-scripts/*.pid
dev-scripts/.env.local

### pem files ###
*.pem